
a/bin/Debug/net6.0/a.deps.json
a/bin/Debug/net6.0/a.dll
a/bin/Debug/net6.0/a.exe
a/bin/Debug/net6.0/a.pdb
a/bin/Debug/net6.0/a.runtimeconfig.json
a/obj/a.csproj.nuget.dgspec.json
a/obj/a.csproj.nuget.g.props
a/obj/a.csproj.nuget.g.targets
a/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
a/obj/Debug/net6.0/a.AssemblyInfo.cs
a/obj/Debug/net6.0/a.AssemblyInfoInputs.cache
a/obj/Debug/net6.0/a.assets.cache
a/obj/Debug/net6.0/a.csproj.AssemblyReference.cache
a/obj/Debug/net6.0/a.csproj.CoreCompileInputs.cache
a/obj/Debug/net6.0/a.csproj.FileListAbsolute.txt
a/obj/Debug/net6.0/a.dll
a/obj/Debug/net6.0/a.GeneratedMSBuildEditorConfig.editorconfig
a/obj/Debug/net6.0/a.genruntimeconfig.cache
a/obj/Debug/net6.0/a.GlobalUsings.g.cs
a/obj/Debug/net6.0/a.pdb
a/obj/Debug/net6.0/apphost.exe
a/obj/Debug/net6.0/ref/a.dll
a/obj/Debug/net6.0/refint/a.dll
a/obj/project.assets.json
a/obj/project.nuget.cache
